<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
  </head>
  <body>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    crossorigin="anonymous"
  ></script>
    <div class="container">
      <h1>Start a Session?</h1>
      <br>
      <div id="content">
        <input type="button" onClick="session(0);" value="Start Session">
        <input type="button" onClick="session(1);" value="Stop Session">
      </div>
    </div>
    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script>
      function session(x){
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.getJSON($SCRIPT_ROOT + '/_start_session', {
              type: x,
          },function(data){
              var response = data.response;
          });
      }
    </script>
  </body>
</html>
